<div>
  <h3>Bar Chart</h3>
  <div style="display: block;">
    <canvas baseChart 
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
  </div>
  <br /><br />
  <table class="table">
    <thead>
        <th>Index</th>
        <th>Label</th>
        <th>Data</th>
    </thead>
    <tbody>
      <tr *ngFor="let barData of barChartDataApi; let i = index">
        <td>{{i + 1}}</td>
        <td>{{barData.label}}</td>
        <td *ngFor="let barDataMini of barData.data;">{{ barDataMini }}</td>
      </tr>
    </tbody>
  </table>
</div>